body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(to top, #a6c0fe 0%, #f68084 100%);
	font-family: "Tilt Neon", cursive;
}

#movie-container {
	width: 90vw;
	max-width: 37.5em;
	padding: 3em 1.8em;
	background-color: #ffffff;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	background: rgba(255, 255, 255, 0.1);
	left: 50%;
	border-radius: 0.6em;
	box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-around;
}

input {
	border: none;
	border-radius: 0.6em;
	height: 40px;
	width: 60%;
	opacity: 0.4;
	background: rgba(255, 255, 255, 0.7);
	font-weight: 600;
	font-size: 1em;
	padding: 0 20px;
}

button {
	width: 20%;
	border: none;
	border-radius: 0.6em;
	font-weight: 500;
	font-size: 1em;
	color: white;
	cursor: pointer;
	background: #658af6;
}

button:hover {
	transform: rotate(5deg);
	background: linear-gradient(145deg, #98abe1, #b5cbff);
}

header {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3em;
	color: white;
	animation: animTitle 1.5s ease;
	letter-spacing: 0.1em;
}

@keyframes animTitle {
	0% {
		font-size: 1em;
		letter-spacing: -4em;
	}
	50% {
		letter-spacing: 2em;
		font-size: 2em;
		color: #a6c0fe;
	}
	100% {
		letter-spacing: 0.1em;
	}
}

